html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }

.wrapper-blue {
  background-color: #1B75BB;
  color: #f9f9f9; }
  .wrapper-blue a:link {
    background-color: #1B75BB;
    color: #cccccc; }
  .wrapper-blue a:visited {
    background-color: #1B75BB;
    color: #cccccc; }
  .wrapper-blue a:hover, .wrapper-blue a:focus {
    background-color: #cccccc;
    color: #1B75BB; }
  .wrapper-blue a:active {
    background-color: #30487b;
    color: #cccccc; }
  .wrapper-blue h2 {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    color: #f9f9f9; }
  .wrapper-blue h3 {
    color: #f9f9f9; }
  .wrapper-blue h4 {
    color: #f9f9f9; }

.wrapper-blue-dark {
  background-color: #30487b;
  color: #f9f9f9; }
  .wrapper-blue-dark a:link {
    background-color: #30487b;
    color: #cccccc; }
  .wrapper-blue-dark a:visited {
    background-color: #30487b;
    color: #cccccc; }
  .wrapper-blue-dark a:hover, .wrapper-blue-dark a:focus {
    background-color: #cccccc;
    color: #30487b; }
  .wrapper-blue-dark a:active {
    background-color: #1B75BB;
    color: #cccccc; }
  .wrapper-blue-dark h2 {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    color: #f9f9f9; }
  .wrapper-blue-dark h3 {
    color: #f9f9f9; }
  .wrapper-blue-dark h4 {
    color: #f9f9f9; }

.wrapper-blue-navy {
  background-color: #1b2946;
  color: #f9f9f9; }
  .wrapper-blue-navy a:link {
    background-color: #1b2946;
    color: #cccccc; }
  .wrapper-blue-navy a:visited {
    background-color: #1b2946;
    color: #cccccc; }
  .wrapper-blue-navy a:hover, .wrapper-blue-navy a:focus {
    background-color: #cccccc;
    color: #1b2946; }
  .wrapper-blue-navy a:active {
    background-color: #1B75BB;
    color: #cccccc; }
  .wrapper-blue-navy h2 {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    color: #f9f9f9; }
  .wrapper-blue-navy h3 {
    color: #f9f9f9; }
  .wrapper-blue-navy h4 {
    color: #f9f9f9; }

.wrapper-green {
  background-color: #49904A;
  color: #f9f9f9; }
  .wrapper-green a:link {
    background-color: #49904A;
    color: #b9df90; }
  .wrapper-green a:visited {
    background-color: #49904A;
    color: #cccccc; }
  .wrapper-green a:hover, .wrapper-green a:focus {
    background-color: #cccccc;
    color: #49904A; }
  .wrapper-green a:active {
    background-color: #306131;
    color: #cccccc; }
  .wrapper-green h2, .wrapper-green h3, .wrapper-green h4 {
    color: #f9f9f9; }

body {
  background-color: #f9f9f9;
  font-size: 16px;
  font-family: Helvetica, "Helvetica Neue", Arial, "sans-serif";
  color: #333333;
  line-height: 1.6; }

p.lead {
  font-size: 1.3em; }

ul.list-unstyled {
  list-style-type: none;
  -webkit-padding-start: 0.2em;
     -moz-padding-start: 0.2em;
          padding-inline-start: 0.2em; }

h1 {
  font-family: Helvetica, "Helvetica Neue", "sans-serif";
  font-size: 1.8rem; }

h2 {
  font-family: Helvetica, "Helvetica Neue", "sans-serif";
  font-size: 1.6rem; }

h3 {
  font-family: Helvetica, "Helvetica Neue", Arial, "sans-serif";
  font-size: 1.3rem; }

h4, h5, h6 {
  font-size: 1rem; }

.nav-skip a {
  display: block;
  font-size: 1.6rem;
  width: auto;
  padding: 1em;
  position: absolute;
  left: -999em;
  text-decoration: underline; }
  .nav-skip a:link {
    background-color: #b9df90;
    color: #306131; }
  .nav-skip a:visited {
    background-color: #b9df90;
    color: #306131; }
  .nav-skip a:hover, .nav-skip a:focus {
    background-color: #306131;
    color: #b9df90;
    top: 2em;
    left: 2em; }
  .nav-skip a:active {
    background-color: #1B75BB;
    color: #30487b;
    top: 2em;
    left: 2em; }

.navbar-brand a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 170px; }
.navbar-brand img {
  width: 170px;
  height: auto; }

.menu-main {
  border-radius: 6px; }
  .menu-main ul {
    background-color: #30487b;
    color: #f9f9f9;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.2em; }
  .menu-main li {
    display: block; }
    @media (min-width: 400px) {
      .menu-main li {
        display: inline-block; } }
  .menu-main a {
    display: block;
    text-decoration: none;
    padding: 0.5em; }
    .menu-main a:link {
      background-color: #30487b;
      color: white; }
    .menu-main a:visited {
      background-color: #30487b;
      color: white; }
    .menu-main a:hover, .menu-main a:focus {
      background-color: #1B75BB;
      color: white; }
    .menu-main a:active {
      background-color: #f9f9f9;
      color: #30487b; }

.footer {
  background-color: #4c4c4c;
  color: #f9f9f9;
  padding: 1em; }
  .footer .container {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 50em) {
      .footer .container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 50em; } }
  .footer .menu-footer {
    display: block;
    width: 100%; }
    @media (min-width: 50em) {
      .footer .menu-footer {
        width: 50%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        padding-right: 1em; } }
  .footer .menu-archive {
    display: block;
    width: 100%; }
    @media (min-width: 50em) {
      .footer .menu-archive {
        width: 50%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        padding-right: 1em; } }
  .footer a {
    color: #b9df90; }
  .footer .copyright {
    text-align: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 50em) {
      .footer .copyright {
        width: 50em; } }

table {
  border-spacing: 1px;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: 0; }

th {
  font-weight: bold;
  background-color: #e5e5e5;
  color: #4c4c4c;
  padding: 0.5em;
  width: 100%; }

td {
  background-color: #f9f9f9;
  color: #333333;
  padding: 0.2em; }

.btn, .btn-reverse, .wrapper-blue .btn, .wrapper-blue .btn-reverse, .wrapper-blue-dark .btn, .wrapper-blue-dark .btn-reverse, .wrapper-green .btn, .wrapper-green .btn-reverse {
  border-radius: 6px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #666666;
  color: #e5e5e5;
  font-size: 1.2em;
  padding: 0.5em; }
  .btn:link, .btn-reverse:link {
    background-color: #666666;
    color: #e5e5e5; }
  .btn:visited, .btn-reverse:visited {
    background-color: #666666;
    color: #e5e5e5; }
  .btn:hover, .btn-reverse:hover, .btn:focus, .btn-reverse:focus {
    background-color: #4c4c4c;
    color: #f9f9f9; }
  .btn:active, .btn-reverse:active {
    background-color: #f9f9f9;
    color: #4c4c4c; }

.btn-reverse {
  border: 1px solid #666666;
  background-color: #e5e5e5;
  color: #666666; }
  .btn-reverse:link {
    background-color: #e5e5e5;
    color: #666666; }
  .btn-reverse:visited {
    background-color: #e5e5e5;
    color: #666666; }
  .btn-reverse:hover, .btn-reverse:focus {
    background-color: #fff;
    color: #4c4c4c; }
  .btn-reverse:active {
    background-color: #4c4c4c;
    color: #fff; }

.wrapper-blue .btn, .wrapper-blue .btn-reverse {
  background-color: #1B75BB;
  color: #f9f9f9; }
  .wrapper-blue .btn:link, .wrapper-blue .btn-reverse:link {
    background-color: #1B75BB;
    color: #e5e5e5; }
  .wrapper-blue .btn:visited, .wrapper-blue .btn-reverse:visited {
    background-color: #1B75BB;
    color: #e5e5e5; }
  .wrapper-blue .btn:hover, .wrapper-blue .btn-reverse:hover, .wrapper-blue .btn:focus, .wrapper-blue .btn-reverse:focus {
    background-color: #15598e;
    color: #fff; }
  .wrapper-blue .btn:active, .wrapper-blue .btn-reverse:active {
    background-color: #fff;
    color: #15598e; }
.wrapper-blue .btn-reverse {
  border: 1px solid #1B75BB;
  background-color: #f9f9f9;
  color: #1B75BB; }
  .wrapper-blue .btn-reverse:link {
    background-color: #e5e5e5;
    color: #1B75BB; }
  .wrapper-blue .btn-reverse:visited {
    background-color: #e5e5e5;
    color: #1B75BB; }
  .wrapper-blue .btn-reverse:hover, .wrapper-blue .btn-reverse:focus {
    background-color: #fff;
    color: #15598e; }
  .wrapper-blue .btn-reverse:active {
    background-color: #15598e;
    color: #fff; }

.wrapper-blue-dark .btn, .wrapper-blue-dark .btn-reverse {
  background-color: #30487b;
  color: #f9f9f9; }
  .wrapper-blue-dark .btn:link, .wrapper-blue-dark .btn-reverse:link {
    background-color: #30487b;
    color: #e5e5e5; }
  .wrapper-blue-dark .btn:visited, .wrapper-blue-dark .btn-reverse:visited {
    background-color: #30487b;
    color: #e5e5e5; }
  .wrapper-blue-dark .btn:hover, .wrapper-blue-dark .btn-reverse:hover, .wrapper-blue-dark .btn:focus, .wrapper-blue-dark .btn-reverse:focus {
    background-color: #30487b;
    color: #fff; }
  .wrapper-blue-dark .btn:active, .wrapper-blue-dark .btn-reverse:active {
    background-color: #fff;
    color: #30487b; }
.wrapper-blue-dark .btn-reverse {
  border: 1px solid #30487b;
  background-color: #f9f9f9;
  color: #30487b; }
  .wrapper-blue-dark .btn-reverse:link {
    background-color: #e5e5e5;
    color: #30487b; }
  .wrapper-blue-dark .btn-reverse:visited {
    background-color: #e5e5e5;
    color: #30487b; }
  .wrapper-blue-dark .btn-reverse:hover, .wrapper-blue-dark .btn-reverse:focus {
    background-color: #fff;
    color: #30487b; }
  .wrapper-blue-dark .btn-reverse:active {
    background-color: #30487b;
    color: #fff; }

.wrapper-green .btn, .wrapper-green .btn-reverse {
  background-color: #49904A;
  color: #f9f9f9; }
  .wrapper-green .btn:link, .wrapper-green .btn-reverse:link {
    background-color: #49904A;
    color: #e5e5e5; }
  .wrapper-green .btn:visited, .wrapper-green .btn-reverse:visited {
    background-color: #49904A;
    color: #e5e5e5; }
  .wrapper-green .btn:hover, .wrapper-green .btn-reverse:hover, .wrapper-green .btn:focus, .wrapper-green .btn-reverse:focus {
    background-color: #386e39;
    color: #f9f9f9; }
  .wrapper-green .btn:active, .wrapper-green .btn-reverse:active {
    background-color: #f9f9f9;
    color: #386e39; }
.wrapper-green .btn-reverse {
  border: 1px solid #306131;
  background-color: #f9f9f9;
  color: #306131; }
  .wrapper-green .btn-reverse:link {
    background-color: #e5e5e5;
    color: #49904A; }
  .wrapper-green .btn-reverse:visited {
    background-color: #e5e5e5;
    color: #49904A; }
  .wrapper-green .btn-reverse:hover, .wrapper-green .btn-reverse:focus {
    background-color: #f9f9f9;
    color: #386e39; }
  .wrapper-green .btn-reverse:active {
    background-color: #386e39;
    color: #f9f9f9; }

.btn-large {
  font-size: 1.4rem;
  padding: 1em; }

.btn-small {
  font-size: 1.0rem;
  padding: 0.2em; }

.sponsor-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.sponsor-card {
  max-width: 300px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px 0.2em; }
  @media (min-width: 530px) {
    .sponsor-card {
      max-width: 350px; } }
  .sponsor-card:first-child {
    margin-left: 0; }
  .sponsor-card:last-child {
    margin-right: 0; }
  .sponsor-card img {
    width: 100%;
    max-width: 350px; }

.sponsor-level h2, .sponsor-level-silver h2, .sponsor-level-community h2 {
  text-transform: uppercase;
  padding: 0.2em 0.5em;
  background-color: #30487b;
  color: #f9f9f9; }

.sponsor-level-silver h2 {
  background-color: #cccccc;
  color: #1b2946; }

.sponsor-level-community h2 {
  background-color: #8892bf;
  color: #1b2946; }

.head-banner-content {
  background-size: cover;
  background-color: #30487b;
  background-image: url("../img/header-1.jpg");
  color: #f9f9f9;
  text-align: center;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 260px; }
  @media (min-width: 768px) {
    .head-banner-content {
      height: 440px; } }
  .head-banner-content h1 {
    margin-top: 0;
    padding-top: 0.8em;
    text-shadow: 4px 4px 4px #223356;
    font-size: 2em; }
    @media (min-width: 768px) {
      .head-banner-content h1 {
        padding-top: 1.5em; } }
    @media (min-width: 768px) {
      .head-banner-content h1 {
        font-size: 4em; } }
  .head-banner-content h2 {
    font-size: 2rem;
    background-color: #49904A;
    text-shadow: 4px 4px 4px #1f3f20; }
    @media (max-device-width: 530px) {
      .head-banner-content h2 {
        font-size: 1.5rem;
        margin-bottom: 2em; }
        .head-banner-content h2 .date {
          display: block; }
        .head-banner-content h2 .dot {
          display: none; }
        .head-banner-content h2 .location {
          display: block; } }
  @media (min-device-width: 14em) {
    .head-banner-content a {
      margin-left: auto;
      margin-right: auto;
      width: 12em; } }

.wrapper-content {
  margin: 0 auto;
  padding: 5em 0 1em;
  font-size: 1.2em;
  -webkit-margin-before: 0;
          margin-block-start: 0; }
  @media (min-width: 530px) {
    .wrapper-content {
      width: 530px;
      padding: 1em 0 1em; } }
  @media (min-width: 50em) {
    .wrapper-content {
      width: 50em;
      padding: 1em 0 1em; } }
  .wrapper-content .container {
    padding: 0.2em; }
  .wrapper-content .row {
    display: block; }
    @media (min-width: 768px) {
      .wrapper-content .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    .wrapper-content .row .main-content {
      margin-top: 0;
      width: 100%; }
      @media (min-width: 768px) {
        .wrapper-content .row .main-content {
          width: 66%;
          -webkit-box-flex: 2;
          -webkit-flex: 2;
              -ms-flex: 2;
                  flex: 2;
          padding-right: 1em; } }
    .wrapper-content .row .schedule {
      width: 100%; }
      @media (min-width: 768px) {
        .wrapper-content .row .schedule {
          width: 33%;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
              -ms-flex: 1;
                  flex: 1; } }
  .wrapper-content .box, .wrapper-content .boxes-two .box {
    padding: 0.5em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  @media (min-width: 768px) {
    .wrapper-content .boxes-two .box {
      width: 50%; } }

.outline {
  border: 1px solid #cccccc;
  padding: 0.5em; }
