//==============================================================================
//  Colors
//==============================================================================

//
// Shades of gray/grey by percent
//
$gray-10: #191919;
$grey-10: $gray-10;
$gray-15: #262626;
$grey-15: $gray-15;
$gray-20: #333333;
$grey-20: $gray-20;
$gray-30: #4c4c4c;
$grey-30: $gray-30;
$gray-33: #555555;
$grey-33: $gray-33;
$gray-40: #666666;
$grey-40: $gray-40;
$gray-45: #737373;
$grey-45: $gray-45;
$gray-50: #7f7f7f;
$grey-50: $gray-50;
$gray-60: #999999;
$grey-60: $gray-60;
$gray-62: #9d9d9d;
$grey-62: $gray-62;
$gray-70: #b2b2b2;
$grey-70: $gray-70;
$gray-80: #cccccc;
$grey-80: $gray-80;
$gray-90: #e5e5e5;
$grey-90: $gray-90;


//--------------------------------------
//  Generic

$black: #000;
$blue-ice: #7cd1ef;
$charcoal: #3e4358;
$white: #f9f9f9;
$white-bright: #fff;



//--------------------------------------
//  Brand Colors

$pnwphp-green: #49904A;
$pnwphp-green-dark: #306131;
$pnwphp-blue-light: #8ba5d1;
$pnwphp-blue: #1B75BB ; // #38b9e6 #228eb6
$pnwphp-blue-dark: #30487b;
$pnwphp-blue-navy: #1b2946;
$pnwphp-gray: #8c8c8c;
$php-purple: #8892bf;


//--------------------------------------
//  Greens

$green-light: #b9df90;





//==============================================================================
//  Spacing
//==============================================================================



//--------------------------------------
//  Margin

$margin-small: 0.20em;
$spacing-medium: 0.50em;
$spacing-large: 1em;



//--------------------------------------
//  Padding
//

$padding-small: 0.20em;
$padding-medium: 0.50em;
$padding-large: 1em;


//==============================================================================
//  Layout
//==============================================================================

$desktop-content-width: 980px;
$tablet-content-width: 768px;


//==============================================================================
//  Typography
//==============================================================================


$font-size-base: 16px;

//--------------------------------------
// Sans Serif fonts
//
$helvetica: Helvetica, "Helvetica Neue";
$arial: 'Arial';


//--------------------------------------
// Font Settings
//
$heading-font-family: $helvetica, "sans-serif";
$heading-font-color: $gray-10;

$copy-font-family: $helvetica, Arial, "sans-serif";
$copy-font-color: $gray-20;



