
// Platinum
// Gold
// Silver
// Bronze
// Copper
// Community

.sponsor-list {
	display: block;

	@media  (min-width: $desktop-content-width) {
		width: $desktop-content-width;
	}
}

.sponsor-card {
	max-width: 300px;

	display: inline-block;
	margin: 0 10px $margin-small;
	width: 180px;
	@media  (min-width: $tablet-content-width) {
	}

	@media  (min-width: $desktop-content-width) {
		&:nth-child(3n+1) {
			margin-left: 0;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}
		width: 300px;
	}


	img {
		width: 100%;
	}
}

.sponsor-level {
	h2 {
		text-transform: uppercase;
		padding: $padding-small $padding-medium;
		background-color: $pnwphp-blue-dark;
		color: $white;
	}
}

.sponsor-level-platinum {
	@extend .sponsor-level;

	h2 {
		background-color: #D7D4C6;
		color: $pnwphp-blue-navy;
	}
}
.sponsor-level-gold {
	@extend .sponsor-level;

	h2 {
		background-color: #FFC94C;
		color: $pnwphp-blue-navy;
	}
}

.sponsor-level-silver {
	@extend .sponsor-level;

	h2 {
		background-color: $gray-80;
		color: $pnwphp-blue-navy;
	}
}

.sponsor-level-bronze {
	@extend .sponsor-level;

	h2 {
		background-color: #b58700;
		color: $pnwphp-blue-navy;
	}
}

.sponsor-level-copper {
	@extend .sponsor-level;

	h2 {
		background-color: #DA7C56;
		color: $pnwphp-blue-navy;
	}
}
.sponsor-level-community {
	@extend .sponsor-level;

	h2 {
		background-color: $php-purple;
		color: $pnwphp-blue-navy;
	}
}
