
// Project settings - colors, padding, fonts, etc
@import "settings";
@import "mixins";
@import "base";

//
// Modules
//------------------------------------------------------------------------------
@import "typography";
@import "navigation";
@import "tables";
@import "buttons";

.head-banner-content {
	background-size: cover;
	background-color: $pnwphp-blue-dark;
	background-image: url("../img/header-1.jpg");
	color: $white;
	text-align: center;
	z-index: 1;
	top: 0;
	width: 100%;
	// Wrap the height in a media query

	height: 260px;
	@media  (min-width: 768px) {
		height: 440px;
	}

	h1 {
		margin-top: 0;
		padding-top: 0.8em;
		@media  (min-width: 768px) {
			padding-top: 1.5em;
		}
		text-shadow:  4px 4px 4px darken($pnwphp-blue-dark, 10%);
		font-size: 2em;
		@media  (min-width: 768px) {
			font-size: 4em;
		}
	}

	h2 {
		font-size: 2rem;
		background-color: $pnwphp-green;
		text-shadow:  4px 4px 4px darken($pnwphp-green-dark, 10%);
        @media (max-device-width: 530px){
		    font-size: 1.5rem;
            margin-bottom: 2em;
            .date {
                display: block;
            }
            .dot {
                display: none;
            }
            .location {
                display: block;
            }

        }
	}

	@media (min-device-width: 14em) {
		a {
			margin-left: auto;
			margin-right: auto;
			width: 12em;
		}
	}
}



.wrapper-content {

	margin: 0 auto;
	padding: 5em 0 1em;
	font-size: 1.2em;
	margin-block-start: 0;
	// @todo add media queries to set the width for different devices
	@media  (min-width: $desktop-content-width) {
		width: $desktop-content-width;
		padding: 1em 0 1em;
	}


	.container {
		padding: $padding-small;
	}

	.row {
		display: block;
		@media  (min-width: 768px) {
			display: flex;
		}

		.main-content {
			margin-top: 0;
			width: 100%;
			@media  (min-width: 768px) {
				// do stuff
				width: 66%;
				flex: 2;
				padding-right: 1em;
			}
		}

		.schedule {
			width: 100%;
			@media  (min-width: 768px) {
				width: 33%;
				flex: 1;
			}
		}

	}

	.box {
		padding: $padding-medium;
		flex: 1;
	}

	.boxes-two .box {
		@extend .box;
		@media  (min-width: 768px) {
			width: 50%;

		}
	}

}


.outline {
	border: 1px solid $gray-80;
	padding: $padding-medium;
}






