


body {
	background-color: $white;
	font-size: $font-size-base;
	font-family: $copy-font-family;
	color: $copy-font-color;
	line-height: 1.6;
}


p.lead {
	font-size: 1.3em;
}

ul.list-unstyled {
	list-style-type: none;
	padding-inline-start: $padding-small;
}

h1 {
	font-family: $heading-font-family;
	font-size: 1.8rem;
}

h2 {
	font-family: $heading-font-family;
	font-size: 1.6rem;
}

h3 {
	font-family: $copy-font-family;
	font-size: 1.3rem;
}

h4, h5, h6 {
	font-size: 1rem;
}

